/* General Styling Settings */
:root {
    --primary-text:#ffffff;
    --dark-text:#312F30;
    --primary-bg-color:#080808;
    --secondary-bg-color:#131313;
}

*, *::before, *::after {
    /* Default styling -> box-sizing: border-box */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 2em 0.75em;
}

img {
    max-width: 100%;
    border-radius: 1.25rem;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}

a {
    color: var(--primary-text);
    text-decoration: none;
}

h2 {
    margin: .6rem 0 0 0;
    font-weight: 700;
    font-size: 3rem;
}

h3, h4 {
    margin: .75rem;
    
}

ul {
    list-style: none;
    margin: auto 0;
}

#topNewsUL {
    padding: 0;
}

/* #topNewsUL:first-child {
    
} */

p {
    margin: 0 0 1.5rem 0;
}

/* Header Section (Navbar & Logo) */
.header {
    display: flex;
    align-items: center;
    padding: .125em 1em;
    background: var(--primary-bg-color);
    text-transform: uppercase;
    letter-spacing: .25rem;
    white-space: nowrap;
}

.mobile-hamburger-nav {
    display: flex;
    flex-direction: column;
    gap: .27rem
}

.nav-item {
    /* column-gap: 1rem; */
    height: .109375rem;
    width: 1.25rem;
    background: var(--primary-text);
}

.logo {
    font-size: 1.65rem;
    flex-grow: 2;
    text-align: center;
}

.fatherhood-logo {
    text-decoration: none;
}

/* Footer Section (Social Media & Copywright) */
.footer {
    background: var(--primary-bg-color);
    font-size: 1rem;
    text-align: center;
}

.footer p {
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    max-width: 45%;
}


.desktop-nav {
    display: none;
}

#home-container {
    padding: 2rem 0;
}

.top-article-item {
    margin-bottom: 2em;
}

.top-article-item img {
    border-radius: 0;
}

.top-article-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

@media (orientation: landscape) and (max-width: 1280px) {
    .container{
        max-width: 100%;
    }

    .header {
        padding: .125em 1.75em;
    }

    .social-icons {
        max-width: 30%;
    }
}
/* Hero & Carousel Section
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    background-color:var(--bold-text);
    color:var(--light-color);
    padding: .25em 1.125em;
    border-radius: 3rem;
}

.btn:hover,
 .btn:focus {
    transition-property: 1ms;
    background-color:var(--light-text);
    color:var(--dark-text)
}

.accent-text {
    color: var(--bold-text);
}

.hero-text {
    color: var(--light-text);
}

/* Additional Content Section */
/* .secondary-inner-div {
    text-align: center;
}

.fa-shapes, .fa-school, .fa-music {
    color: var(--bold-text);
    font-weight: 600;
    font-size: 3rem;
    margin: .75em 0;
}

.third-content {
    background: var(--light-bg-color);
}

.fourth-content {
    background: var(--alt-light-bg)
}

.footer {
    background: var(--pri-color);
    padding: .5em .3em;
} */

/* Footer Section */

/*.footer p {
    margin: 0;
    text-align: center;
    color:var(--light-text)
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .row {
        display: flex;
    }

    .header {
        padding: 1em 3em;
    }

    .mobile-hamburger-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    } 

    .logo {
        font-size: 2rem;
        text-align: inherit;
    }

    .hero-content {
        justify-content: space-between;
        align-items: center;
        padding: 3em;
        gap: 1rem
    }

    .hero-carousel-wrapper {
        max-width: 55%;
        border-radius: 1.25%;
    }

    .hero-carousel-slider {
        max-width: 100%;
    }

    .hero-text {
        max-width: 35%;
    }

    .hero-text h2 {
        font-size: 2.75rem;
    }

    .primary-content,
    .secondary-content, .third-content, .fourth-content {
        justify-content: center;
        align-items: center;
        padding: 3em 4em ;
        gap: 5rem
    }

    .primary-text,
    .secondary-text, .third-text, .fourth-text {
        max-width: 35%;
    }

    .img-container {
        max-width: 55%;
    }

}

@media (min-width: 1024px) {
    
    .row {
        display: flex;
    }

    .header {
        padding: 1em 3em;
    }

    .mobile-hamburger-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    } 

    .logo {
        font-size: 2rem;
        text-align: inherit;
    }

    .hero-content {
        justify-content: space-between;
        align-items: center;
        padding: 3em 10em;
        gap: 5rem
    }

    .hero-carousel-wrapper {
        max-width: 55%;
        border-radius: 1.25%;
    }

    .hero-carousel-slider {
        max-width: 100%;
    }

    .hero-text {
        max-width: 35%;
    }

    .hero-text h2 {
        font-size: 2.75rem;
    }

    .primary-content,
    .secondary-content, .third-content, .fourth-content {
        justify-content: center;
        align-items: center;
        padding: 3em 5em ;
        gap: 5rem
    }

    .secondary-content {
        justify-content: center;
        align-items: center;
        padding: 1.5em 10em ;
        gap: 5rem;
    }

    .primary-text,
    .secondary-text, .third-text, .fourth-text {
        max-width: 35%;
    }

    .img-container {
        max-width: 35%;
    }

} */